# Node / Angular
client/node_modules/
client/dist/

# .NET
PruebaTecnicaCycle/**/bin/
PruebaTecnicaCycle/**/obj/

# IDEs
.vscode/
*.user
*.suo

# dependencias
/node_modules
/client/node_modules
/PruebaTecnicaCycle/**/bin
/PruebaTecnicaCycle/**/obj
