/* src/app/layout/topbar/topbar.component.scss */
.topbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .breadcrumb {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;

    i.pi-home {
      margin-right: 0.5rem;
    }
  }
}
